# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#######
.svn

*.ncb
*.suo
*.sws
*.pdsync
*.pdsyncu
*.exp


*.bsc
*.dep
*.obj
*.res
*.sbr
*.tlb
*.idb
*.ilk
*.pdb
*.pch
*.pdb
*.manifest
BuildLog.htm

Debug
Release
*_CP.H
*_i.c
*_i.h
*_p.c
*.ocx

